.Ventanas{
    background-image: url(../IMG/Fon-proce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 102vw;
    height: auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    
}

.Src1,.Src2,.Src3 {
  background-color: rgba(0,0,0,0.2);
  margin: 1VW;
  width: 35vw;
 
}
.scratch{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  height: auto;
  

}



.iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
}


@media (max-width: 768px),(max-width: 1200px) {
  /* Estilos para pantallas de hasta 768px de ancho */
  .Src1,.Src2, .Src3{
    width: 54%;
    background-color: rgba(0,0,0,0.1);
    padding-bottom: 1%; /* Proporción de aspecto cuadrada */
  }
}