/*---------------Variable---------------*/

:root {
  --bg-color: rgb(47, 2, 35);
  --bg-colorsuave:#717171;
  --color-barras:#1c3448;
  --color-marco:#580101;
  --input-placeholder: rgb(0, 0, 0);
  --input-bg: #efefef;
  --texto-destaque: #f2f2f2;
  --rosa-destaque: #da007c;
  --dorado-destaque:#FFD700;
  font-family: "Releway", sans-serif;
}

/*---------------Normalizar - Reset-CSS---------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Releway", sans-serif;
  background-color:var(--bg-colorsuave);
  scroll-behavior: smooth;
  min-height: 100vw;
  height: auto;
  width: auto;

}

/*---------------Ecabezado---------------*/

header {
  background-color:var(--color-barras);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 9vw;
  padding: 0.9vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo-inicio, .logo_fin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}


.logo img {
  height: 8vw;
  width: 9vw;
}

.logo p {
  font-size: 3vw;
  font-weight: bolder;
  color: var(--dorado-destaque);
}

.logo .logo-azul {
  margin-left: 1vw;
  color: var(--rosa-destaque);
}

.logo-busqueda input {
 
  width: 300px;
  height: 40px;
  border-radius: 30px;
  padding: 1% 3%;
  border: none;
  background-color: var(--input-bg);
  
  
  
}

.regresar {
  display: flex;
  align-items: center;
  position: relative;
  right: 5vw;
  bottom: 1.2vw;
}


.regresar-button {
  background-image: url(../IMG/art-the-starry-night.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  border: #bc9a1c;
  border-radius: 25%;
  color: var(--texto-destaque);
  font-size: 1vw;
  font-weight: bold;
  height: 3vw;
  width: 10vw;
}

.regresar-button:hover {
	font-size: 0.9vw;
	border: solid 0.5vw var(--input-bg);
  }

/*---------------cuerpo---------------*/

h1{
  text-decoration: solid;
  color: var(--texto-destaque);
  font-weight: 800;
  font-family: "Releway", sans-serif;

}

/* a{
  text-decoration: solid;
  color: var(--dorado-destaque);
  font-weight: 800;
  font-family: "Releway", sans-serif;
} */


button {
  cursor: pointer;
}

/*----------Pie de pagina----------- */

footer{
  width: 100vw;
  height: 20vw;
}
.Pie{
  background-color:var(--bg-color) ;
  height: 16vw;
  width: 102vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}

  
